.item{
	/*height: 200px;*/
	background-color:rgba(242, 242, 242, 1);
  border: 1px rgba(107, 107, 107, 1) solid;
  border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px;
}
.item img{
	width: 100%;
}
.box1{
	width: 90%;
	margin: 100px auto ;
  border-radius: 20px;
  background-color: rgba(250, 250, 250,0.9);
}

.box1 p{
  background-color: rgba(235, 226, 223, 1);
  border-radius: 10px;
  padding: 2%;

}
